$bacgroudColor : #8758FF;

.app{
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .container{
        width: 1024px;


        .link{
            text-decoration: none;
            color: inherit;
        }

        // style login dan register
        .auth{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $bacgroudColor;

            h1{
                font-size: 20px;
                color: #FFFFFF;
                margin-bottom: 20px;
            }

            form{
                display: flex;
                flex-direction: column;
                padding: 50px;
                background-color: #FFFFFF;
                width: 200px;
                gap: 20px;
                border-radius: 6px;

                input{
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid gray;
                    background-color: #FFFFFF;
                }

                button{
                    padding: 10px;
                    border: none;
                    background-color: $bacgroudColor;
                    cursor: pointer;
                    color: #FFFFFF;
                    border-radius: 6px;
                }

                p{
                    font-size: 12px;
                    color: #DC0000;
                    text-align: center;
                }

                span{
                    font-size: 12px;
                    text-align: center;
                }

            }

        }


        // style navbar
        .navbar{
            .container{
                padding: 5px 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .logo{
                    img{
                        width: 50px;
                    }

                }
                .links{
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    h6{
                        margin-top: 0px;
                        margin-bottom: 0px;
                        font-size: 16px;
                        font-weight: 300;
                    }

                    span{
                        cursor: pointer;
                    }

                    .write{
                        background-color: $bacgroudColor;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 300;
                        color:#FFFFFF;

                        &:hover{
                            color: $bacgroudColor;
                            background-color: #FFFFFF;
                            border: 1px solid $bacgroudColor;
                        }
                    }

                    
                }
            }
        }


        // style footer

        footer{
            margin-top: 100px;
            padding: 20px;
            background-color: $bacgroudColor;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            color: #FFFFFF;
            img{
                height: 20px;
            }
        }

        // style home page

        .home{
            .posts{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 150px;

                .post{
                    display: flex;
                    gap: 100px;
                    
                    &:nth-child(2n+1){
                        flex-direction: row-reverse;
            
                    }

                    .img{
                        flex: 2;
                        position: relative;

                        &::after{
                            content: "";
                            width: 100%;
                            height: 100%;
                            background-color: $bacgroudColor;
                            position: absolute;
                            top: 20px;
                            left: -20px;
                            z-index: -1;
                        }

                        img{
                            width: 100%;
                            max-height: 400px;
                            object-fit: cover;
                        }
                    }

                    .content{
                        flex: 3;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h1{
                            font-size: 48px;
                            margin-top: 0px;
                            margin-bottom: 0px;
                        }

                        p{
                            font-size: 18px;
                            margin-top: 0px;
                            margin-bottom: 20px;
                        }

                        button{
                            width: max-content;
                            padding: 10px 20px;
                            border: none;
                            cursor: pointer;
                            background-color: #FFFFFF;
                            border: 1px solid $bacgroudColor;
                            color: $bacgroudColor;

                            &:hover{
                                border: 1px solid #FFFFFF;
                                background-color: $bacgroudColor;
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }
 
        }

        // style single
        .single{
            display: flex;
            gap: 50px;

            .content{
                margin-top: 20px;
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 40px;

                img{
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }

                .user{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 14px;

                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span{
                        font-weight: bold;
                    }
                }

                .info{
                    p{
                        margin: 2px 0px;
                    }
                }

                .edit{
                    display: flex;
                    gap: 5px;

                    img{
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }
                }

                h1{
                    font-size: 42px;
                    color: #333;
                    margin-bottom: 0px;
                    margin-top: 0px;
                }

                p{
                    text-align: justify;
                    margin-top: 0px;
                    line-height: 30px;
                }
            }

            .menu{
                flex: 2
            }
        }

        // style menu

        .menu{
            margin-top: 13px;
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 25px;

            h1{
                margin-top: 0px;
                margin-bottom: 0px;
                font-size: 20px;
                color: #555;

            }
            .post{
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-top: 0px;
                margin-bottom: 0px;


                img{
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }

                h2{
                    color: #555;
                    margin-top: 0px;
                margin-bottom: 0px;
                }

                button{
                    width: max-content;
                    padding: 10px 20px;
                    border: none;
                    cursor: pointer;
                    background-color: #FFFFFF;
                    border: 1px solid $bacgroudColor;
                    color: $bacgroudColor;

                    &:hover{
                        border: 1px solid #FFFFFF;
                        background-color: $bacgroudColor;
                        color: #FFFFFF;
                    }
                }
            }
        }

        // style write
        .add{
            margin-top: 20px;
            display: flex;
            gap: 20px;

            .content{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;
            
                input{
                    padding: 10px;
                    border: 1px solid lightgray;
                }

                .editorContainer{
                    height: 300px;
                    overflow: scroll;
                    border: 1px solid lightgray;

                    .editor{
                        height: 100%;
                        border: none;
                    }
                }
            }

            .menu{
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;


                .item{
                    border: 1px solid lightgray;
                    padding: 10px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 12px;
                    color: #555;

                    h1{
                        font-size: 20px;
                    }

                    .file{
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    .buttons{
                        display: flex;
                        justify-content: space-between;

                        :first-child{
                            cursor: pointer;
                            color: $bacgroudColor;
                            background-color: #FFFFFF;
                            border: 1px solid $bacgroudColor;
                            padding: 3px 5px;
                        }
                        :last-child{
                            cursor: pointer;
                            color: #FFFFFF;
                            background-color: $bacgroudColor;
                            border: 1px solid $bacgroudColor;
                            padding: 3px 5px;
                        }
                    }

                    .cat{
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        color: $bacgroudColor;
                    }
                }

            }

        }



    }
}